*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;}
header{
    background-image: url('nature.jpg');
    /* height: 100vh; */
    background-repeat: no-repeat;
    height: 100vh;
}
h1,h2{
    background: rgba(43, 39, 39, 0.7);
    color: rgb(235, 225, 225);
}


h1{
    border-top: 2px solid black;
    border-right:  2px solid black;
    font-size: 350%;
}

h2{
    border-bottom: 2px solid black;
    border-right:  2px solid black;
    font-size: 200%;

}
#title-1200px{
    width: 50%;
    padding-top: 10%;

}
#title-600px{
    display: none;

}

.title-text{
    padding-left: 20px;
}

#items-container{
    display: flex;
    justify-content: center;
}


.items{
    display: flex;
    background-color: rgba(11, 163, 39, 0.083);
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    margin: 30px;
}

.items p{
    font-size: 30px;
}

.items-names{
text-align: center;
}

.items-names p{
    line-height: 200%;
}
.information-headers{
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 200%;
    letter-spacing: 2px;
}
.information-headers ~ p, .details {
    margin-top: 20px;
    text-align: center;
    line-height: 200%;
    letter-spacing: 1px;
}

.website-content{
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#donate{
margin-top: 30px;
cursor: pointer;
height: 40px;
border: 1px solid rgb(0, 0, 0);
padding: 10px;
border-radius: 4px;
}

#donate:hover{
    border: 3px solid black;
}


/* Form */
#contact-form-wrapper{
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px dashed black;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
#contact-form{
    background-color: rgb(255, 255, 255);
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;

}

.form-control{
    width: 600px;
    background: transparent;
    border: 1px solid black;
    outline: none;
    border-bottom: 1px solid gray;
    color: rgb(2, 2, 2);
    font-size: 18px;
    margin-bottom: 16px;
}
form .submit{
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    padding: 5px;
}
::placeholder{
    padding-left: 10px;

}
form input{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}


/* Footer stuff */

#footer{
    color: rgb(235, 220, 220);
    display: inline-block;
    text-align: center;
    line-height: 200%;
    height: 100px;
    width: 100%;
    background-color: rgb(38, 34, 34);
}

#footer-email, #footer-phone{
    margin-right: 20px;
}
